footer(id='footer' role='contentinfo' data-template='stage-footer')
  div(class='footer-inner')
    nav(class='footer-nav')
      ul(id='footer-menu' class='nav footer-nav clearfix')
        li
          a(href='https://browsebud.appspot.com/') Blog
        li
          a(href='https://browsebud.appspot.com/') Support
        li
          a(href='https://browsebud.appspot.com/') Contact
        li
          a(href='https://browsebud.appspot.com/') Developers
        li
          a(href='https://browsebud.appspot.com/') Privacy Policy
        li
          a(href='https://browsebud.appspot.com/') Terms Of Service
        li
          a(href='https://browsebud.appspot.com/') Partners
        li
          a(href='https://browsebud.appspot.com/') Careers
    div(class='footer-logo')
      a(href='https://browsebud.appspot.com/' class='footer-logo') Browse Bud
    ul(class='footer-social-links')
      li(class='footer-social-links footer-social-link-facebook')
        a(href='https://browsebud.appspot.com/' target='_blank') Facebook
      li(class='footer-social-links footer-social-link-twitter')
        a(href='https://browsebud.appspot.com/' target='_blank') Twitter
      li(class='footer-social-links footer-social-link-linkedin')
        a(href='https://browsebud.appspot.com/' target='_blank') LinkedIn
      li(class='footer-social-links footer-social-link-instagram')
        a(href='https://browsebud.appspot.com/' target='_blank') Instagram
    div(class='footer-copywrite')
      p(class='small source-org copyright flush-bottom') © 2017 Browse Bud™&nbsp;&nbsp;Handmade in Atlanta
