footer(id='footer' role='contentinfo' data-template='stage-footer')
  div(class='footer-inner')
    nav(id='footer-nav')
      ul
        li
          a(href='https://browsebud.appspot.com/') Blog
        li
          a(href='https://browsebud.appspot.com/') Support
        li
          a(href='https://browsebud.appspot.com/') Contact
        li
          a(href='https://browsebud.appspot.com/') Developers
        li
          a(href='https://browsebud.appspot.com/') Privacy Policy
        li
          a(href='https://browsebud.appspot.com/') Terms Of Service
        li
          a(href='https://browsebud.appspot.com/') Partners
        li
          a(href='https://browsebud.appspot.com/') Careers
    div(id='footer-logo')
      a(href='https://browsebud.appspot.com/' class='logo') Browsebud
    div(id='footer-social')
      ul
        li
          a(href='https://browsebud.appspot.com/' target='_blank') Facebook
        li
          a(href='https://browsebud.appspot.com/' target='_blank') Twitter
        li
          a(href='https://browsebud.appspot.com/' target='_blank') LinkedIn
        li
          a(href='https://browsebud.appspot.com/' target='_blank') Instagram
    div(class='footer-copywrite')
      p(class='copyright') © 2017 Browse Bud™&nbsp;&nbsp;Handmade in Atlanta
