header
  div(id='header-inner')
    a(id='header-logo' class='logo' href='https://browsebud.appspot.com/') Browsebud
    nav(id='header-nav' class='navigation')
      ul
        li
          a(href='https://browsebud.appspot.com/') Tour
        li
          a(href='https://browsebud.appspot.com/') Resources
        li
          a(href='https://browsebud.appspot.com/') Blog
        li
          a(href='https://browsebud.appspot.com/') About
    div(id='header-buttons')
      a(class='button header-login' href='https://browsebud.appspot.com/') Login
      a(class='button header-sign-up' href='https://browsebud.appspot.com/') Sign Up
