header
  div(id='header-inner')
    a(id='header-logo' class='logo' href='https://browsebud.appspot.com/') Browsebud
    nav(id='header-nav' class='navigation')
      a(id='header-nav-link' href='https://browsebud.appspot.com/') Tour
      a(id='header-nav-link' href='https://browsebud.appspot.com/') Enterprise
      a(id='header-nav-link' href='https://browsebud.appspot.com/') Resources
      a(id='header-nav-link' href='https://browsebud.appspot.com/') Blog
      a(id='header-nav-link' href='https://browsebud.appspot.com/') About
    div(id='header-buttons')
      a(class='login' href='https://browsebud.appspot.com/') Login
      a(class='sign-up' href='https://browsebud.appspot.com/') Sign Up
