header
  nav
    ul
      li
        a(href='https://browsebud.appspot.com/' class='big-cursive') Browse Bud
      li
        a(href='https://browsebud.appspot.com/' class='big-sans') Tour
      li
        a(href='https://browsebud.appspot.com/' class='big-sans') Enterprise
      li
        a(href='https://browsebud.appspot.com/' class='big-sans') Resources
      li
        a(href='https://browsebud.appspot.com/' class='big-sans') Blog
      li
        a(href='https://browsebud.appspot.com/' class='big-sans') About
      li(style='float:right')
        a(href='https://browsebud.appspot.com/' class='big-sans') Login
      li(style='float:right')
        a(href='https://browsebud.appspot.com/' class='big-sans') Sign Up
