header
  div.header-inner
    div.container
      h1.header-logo
        a(href='https://browsebud.appspot.com/') Browse Bud
      nav
        ul
          li
            a(href='https://browsebud.appspot.com/') Tour
          li
            a(href='https://browsebud.appspot.com/') Enterprise
          li
            a(href='https://browsebud.appspot.com/') Resources
          li
            a(href='https://browsebud.appspot.com/') Blog
          li
            a(href='https://browsebud.appspot.com/') About
      div.header-button-wrapper
        a(href='https://browsebud.appspot.com/').header-login Login
        a(href='https://browsebud.appspot.com/').header-signup Sign Up
