head
  title Browse Bud - Rating the web for age appropriateness
  meta(charset='utf-8')
  meta(name='description' value='Get content ratings for websites based on age appropriateness and factualness.')
  link(rel='stylesheet', href='/static/main.css')
  link(href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed" rel="stylesheet")
