doctype html
html
  include includes/head.pug

  body
    dic(class='stage')
      // include header file
      include includes/header.pug

      div(class='error404')
        div(class='error404-background')
          h1 Oooh... We can't find that page.
          h2 The page you are looking for is lost. Return to the home screen or you can enjoy this owl.

      // include footer file
      include includes/footer.pug
