doctype html
html
  include includes/head.pug

  body
    // Start Google analytics script
    script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-100379081-1', 'auto');
    ga('send', 'pageview');
    // End Google analytics script
    
    div(class='stage')
      // include header file
      include includes/header.pug

      div(class='error404')
        div(class='error404-background')
            h1 Oooh... We can't find that page.
            h2 The page you are looking for is lost. Return to the home screen or you can enjoy this owl.
            p Photo Credit: rabit_akra cc by 2.0 no modifications
      // include footer file
      include includes/footer.pug
