doctype html
html
  // include the head file
  include includes/head.pug

  body
    div(class='stage')
      //include the header menu file
      include includes/header.pug

      div(id='module0')
        div(id='module0-background')
          div(id='module0-inner')
            h1(class='module0-title') WE RATE WEB CONTENT SO YOU DON'T HAVE TO.
            h2(class='module0-sub-title') Our algorithm rates web content to ensure it is age appropriate and factual.
            div(id='module0-form-container')
              form(method='POST' action='/rating' name='rateUrl' id='unAuthRateForm')
                fieldset(class='cf')
                  input(id='module0-rate-url' taborder='1' name='url' type='text' class='rate-input' placeholder='Paste a link to view its rating' value='' autocomplete='off' autocorrect='off' autocapitalize='off')
                  input(id='module0-rate-btn' type='submit' class='button' value='Get Rating')
                  //Fixed input bug - Bodyparser takes the name
                div(id='rate_actions')
            div(id='module0-sign-up-block')
              a(id='module0-sign-up-button' href='https://browsebud.appspot.com/') Sign Up For Free
              a(id='module0-learn-more' href='https://browsebud.appspot.com/' class='learn-more') or Learn More #{'>'}
      div(id='module1' class='module1')
        div(id='module1-inner')
          h1(class='module1-title') Making Better Internet
          h2(class='module1-sub-title') Free speech depends on an open internet, but how can we ensure that web content is appropriate when anything goes? Browsebud strives to hold the internet accountable through the power of review and to prevent inappropriate content without resorting to censorship. Only Browsebud rates web content to verify it is age appropriate and factual.
          div(id='module1-icons')
            ul(class='module1-list')
              li(class='module1-list-item')
                h2(class='module1-caption1') Paste
                h3(class='module1-text') Paste a link in the search box.
              li(class='module1-list-item')
                h2(class='module1-caption1') Rate
                h3(class='module1-text') Hit rate to view its rating.
              li(class='module1-list-item')
                h2(class='module1-caption1') Review
                h3(class='module1-text') Review the rating to determine the content quality.

      include includes/footer.pug
