doctype html
html
  // include the head file
  include includes/head.pug

  body
    div(class='stage')
      //include the header menu file
      include includes/header.pug

      div(class='module0')
        h2(class='module0-title') WE RATE LINKS SO YOU DON'T HAVE TO.
        div(class='module-sub-title') Get content ratings for your favorite sites.
        div(id='form_container' class='t-center mid-container foot-room')
          form(method='POST' action='/newform' name='rateUrl' id='unAuthRateForm')
            fieldset(class='cf')
              input(id='rate_url' taborder='1' name='url' type='text' class='rate-input' placeholder='Paste a link to see its rating' value='' autocomplete='off' autocorrect='off' autocapitalize='off')
              input(id='rate_btn' type='submit' class='button button-primary button-larg rate-button' value='Get Rating')
              //Fixed input bug - Bodyparser takes the name
            div(id='rate_actions')
          div(class='signup=leanr-more t-center')
            a(id='top=signup-cta' class='header-login' href='https://browsebud.appspot.com/') Sign Up For Free
            a(id='top-learn-more-cta' href='https://browsebud.appspot.com/' class='learn-more') or Learn more #{'>'}

      include includes/footer.pug
