doctype html
html(lang="en")
  head
    title Static Files
    meta(charset='utf-8')
    link(rel="stylesheet", href="/static/main.css")
  body
    p This is a static file serving example.
    form(method='POST' action='/newform')
      div.form-group
        label(for='name') Website:
        input#name.form-control(type='text', placeholder='Website to rate here' name='name')
