doctype html
html
  // include the head file
  include includes/head.pug

  body
    // Start Google Code for Link Search Conversion Page
    script(type='text/javascript').
      /* <![CDATA[ */
      var google_conversion_id = 972754330;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "vxooCKHw73EQmpvszwM";
      var google_remarketing_only = false;
      /* ]]> */
    script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')
    noscript
      div(style='display:inline;')
        img(height='1', width='1', style='border-style:none;', alt='', src='//www.googleadservices.com/pagead/conversion/972754330/?label=vxooCKHw73EQmpvszwM&guid=ON&script=0')
    // End Google Code for Link Search Conversion Page

    div(class='stage')
      include includes/header.pug

      div(class='not-rated-block')
        h1 Website Not Yet Rated!
        h2 This website has not yet been rated. Please check back later.

      include includes/footer.pug
